server:
  port: ${SERVER_PORT:9050}
  shutdown: graceful
  servlet:
    context-path: /api

spring:
  application:
    name: CourierTracking

  datasource:
    url: jdbc:postgresql://${DB_URL:localhost}:${DB_PORT:5432}/${DB_NAME:courier}
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:postgres}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        default_schema: ${SERVICE_SCHEMA:courier}

  flyway:
    enabled: true
    baseline-version: 0
    baseline-on-migrate: true
    locations: classpath:db/migration
    schemas: ${SERVICE_SCHEMA:courier}

  data:
    redis:
      host: ${REDIS_HOST:localhost}
      port: ${REDIS_PORT:6379}

  cache:
    type: redis

springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    path: /swagger-ui/index.html
    csrf:
      enabled: false